.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  height: 300vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5px;
}

.App-header-bar {
  background-color: #282c34;
  margin: 20px;
  height: 75px;
  border-radius: 20px;  
  padding-top: 20px;
  text-align: center;
}

.App-header-text {
  color: rgb(252, 62, 22);
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 40px;
  display: inline;
}

.App-header-icon-unselected {
  margin-left: 40px;
  font-size: 30px;
  display:inline;
  padding: 10px;
  border-radius: 10px;
}

.App-header-icon-selected {
  background-color: rgb(252, 62, 22);
  margin-left: 40px;
  font-size: 30px;
  display:inline;
  padding: 10px;
  border-radius: 10px;
}

.App-search-bar {
  background-color: white;
  width: 300px;
  display: inline-grid;
  margin-left: 30px;
}

.App-sign {
  display: inline;
  margin-left: 40px;
  border-radius: 10px;
  border: solid 1px;
  padding: 10px;
  font-size: 10px;
  position: relative;
  top: -5px;  
}

.Avatar {
  display:inline;
  margin-left: 20px;
  position: relative;
  top: -5px;  
}

.Avatar-photo {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 30px;
  background-color: white;
}

.Wallet {
  display:inline;
  margin-left: 10px;
  border-radius: 30px;
  border: solid 1px;
  padding: 10px;
  font-size: 10px;
  position: relative;
  top: -5px;  
}

.App-header-icon-group2 {
  display:inline;
  margin-left: 20px;
}

.right {
  text-align: right;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a:link {
  color: red;
  font-size: 30px;
}