.Page1-post-bar {
  background-color: white;
  margin: 10px;
  margin-left: 20px;
  width: 500px;
  height: 50px;
  border-radius: 20px;
  display: inline-block;
}
.Page1-post-button-div {
  display: inline;
}

.Page1-post-button {
  display: inline;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  position: relative;
  top: 10px;
  font-size: 18px;
  background-color: rgb(252, 62, 22);
  color: white;
}
.App-topic-cell {
  background-color: #282c34;
  margin: 10px;
  margin-left: 20px;
  width: 99%;
  height: 130px;
  border-radius: 20px;
  padding-right: 10px;
}

.Topic-photo-div{
  height: 50px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}

.Topic-photo{
  width: 120px;
  height: 120px;
  margin-top: 5px;
}

.Topic-photo-small-div{
  height: 50px;
  text-align: left;
  margin-left: 140px;  
  margin-right: 10px;
}

.Topic-photo-small{
  width: 25px;
  height: 25px;
  margin-top: 0px;
  border-radius: 40px;
  border: white solid 1px;
}

.Topic-text{
  display: inline;
  position: absolute;
  width: 99%;
  left: 780px;
  margin-top: -55px;
}

.Topic-text1{
  font-size: 30px;
  text-align: left;
  padding-top: 7px;    
  position: absolute;
  width: 45%;
  left: -330px;  
}

.Topic-text2{
  font-size: 10px;
  text-align: left;
  color: gray;
  margin-top: -43px;
  position: relative;
  left: 180px;
}

.Topic-comment-panel{
  position: absolute;
  bottom: -110px;
  height: 20px;
  left: -469px;  
}